<div class="flex flex-col bg-white rounded-lg border border-gray-200 shadow-sm py-6 px-8 text-wrap break-inside-avoid">
  <div class="flex flex-col max-w-md min-w-md">
    <a href="{% url 'main:show_product' product.id %}">
      <h1 class="text-xl font-bold hover:underline">{{ product.name }}</h1>
    </a>
    <h2 class="text-md mt-1">${{ product.price }}</h2>
    <p class="text-gray-700 my-4 w-full">{{ product.description }}</p>
  </div>
  <div class="flex flex-row justify-end items-center gap-3">
    <a class="text-blue-600 hover:underline" href="{% url 'main:update_product' product.id %}">Edit</a>
    <a class="text-blue-600 hover:underline" href="{% url 'main:delete_product' product.id %}">Delete</a>
  </div>
</div>
