{% extends 'base.html' %}

{% block meta %}
<title>Create Product</title>
{% endblock meta %}

{% block content %}
<main class="min-h-screen flex flex-col items-center justify-center gap-5">
  <form method="POST" class="px-10 py-8 flex flex-col justify-center gap-4 bg-white rounded-lg shadow-lg border border-gray-300">
    <div>
      <a href="{% url 'main:show_main' %}" class="inline-block mr-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left">
          <path d="m12 19-7-7 7-7"/><path d="M19 12H5"/>
        </svg>
      </a>
      <h1 class="inline-block text-3xl font-bold mb-3">
        <span>Create Product</span>
      </h1>
    </div>

    {% csrf_token %}
    <input type="hidden" name="remember" value="true">

    <div class="w-full">
      <label for="{{ form.name.id_for_label }}" class="text-sm">
        Name
      </label>
      <input
        id="{{ form.name.id_for_label }}"
        name="{{ form.name.html_name }}"
        type="text"
        required
        class="p-2 outline-none border-2 border-gray-200 focus:border-black w-full rounded-lg"
        placeholder="Berserk Deluxe Edition Vol. 1"
      />
    </div>

    <div class="w-full">
      <label for="{{ form.price.id_for_label }}" class="text-sm">
        Price
      </label>
      <input
        id="{{ form.price.id_for_label }}"
        name="{{ form.price.html_name }}"
        type="text"
        required
        class="p-2 outline-none border-2 border-gray-200 focus:border-black w-full rounded-lg"
        placeholder="60"
      />
    </div>

    <div class="w-full">
      <label for="{{ form.description.id_for_label }}" class="text-sm">
        Description
      </label>
      <textarea
        id="{{ form.description.id_for_label }}"
        name="{{ form.description.html_name }}"
        rows="10"
        cols="40"
        type="text"
        required
        class="p-2 outline-none border-2 border-gray-200 focus:border-black w-full rounded-lg"
        placeholder="Berserk is a dark fantasy manga that follows the brutal and tragic journey of Guts, a lone mercenary with a mysterious past, as he battles monstrous foes and struggles against fate in a violent medieval world."
      ></textarea>
    </div>

    <div class="grid grid-cols-2 gap-2 mt-3">
      <a href="{% url 'main:show_main' %}" class="text-center text-white bg-red-600 rounded-lg py-2 px-5 w-full">
        Cancel
      </a>

      <button type="submit" class="text-white bg-blue-600 rounded-lg py-2 px-5 w-full">
        Create
      </button>
    </div>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</main>
{% endblock content %}
