{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<main class="min-h-screen flex flex-col items-center justify-center gap-5">
  <form method="POST" class="px-10 py-8 flex flex-col justify-center gap-4 bg-white rounded-lg shadow-sm border border-gray-300">
    <h1 class="text-3xl font-bold w-full mb-3">Login</h1>

    {% csrf_token %}
    <input type="hidden" name="remember" value="true">

    <div class="w-full">
      <label for="username" class="text-sm">
        Your username
      </label>
      <input
        id="username"
        name="username"
        type="text"
        required
        class="p-2 outline-none border-2 border-gray-200 focus:border-black w-full rounded-lg"
        placeholder="TheBlackSwordsman"
      >
    </div>

    <div class="w-full">
      <label for="password" class="text-sm">
        Your password
      </label>
      <input
        id="password"
        name="password"
        type="password"
        required
        class="p-2 outline-none border-2 border-gray-200 focus:border-black w-full rounded-lg"
        placeholder="••••••••"
      >
    </div>

    <button type="submit" class="text-white bg-cyan-600 rounded-lg py-2 px-5 mt-5 w-full">
      Login
    </button>

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>

  <a href="{% url 'main:register' %}" class="underline text-blue-600">
    I don't have an account yet
  </a>
</main>
{% endblock content %}
