{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<h1>sekoleksi</h1>

<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

<a href="{% url 'main:create_product' %}">
  <button>Buat Produk Baru</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<main class="grid justify-center w-full gap-2 mb-32">
  {% if not products %}
  <div class="bg-white rounded-lg border border-gray-200 shadow-md py-6 px-10">
    <p class="text-slate-600">Belum ada produk yang terdaftar</p>
  </div>
  {% else %}
  {% for product in products %}
  <div class="min-w-52 flex flex-col bg-white rounded-lg border border-gray-200 shadow-md py-6 px-8 text-wrap">
    <div class="flex flex-col max-w-md min-w-md">
      <a href="{% url 'main:show_product' product.id %}">
        <h1 class="text-xl font-bold hover:underline">{{ product.name }}</h1>
      </a>
      <h2 class="text-md mt-1">${{ product.price }}</h2>
      <p class="text-gray-700 my-4 w-full">{{ product.description }}</p>
    </div>
    <div class="flex flex-row justify-end items-center gap-3">
      <a class="text-blue-600 hover:underline" href="{% url 'main:update_product' product.id %}">Edit</a>
      <a class="text-blue-600 hover:underline" href="{% url 'main:delete_product' product.id %}">Delete</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</main>
{% endblock content %}
