{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}
<main class="min-h-screen flex flex-col items-center justify-center gap-5">
  <form method="POST" class="px-10 py-8 flex flex-col justify-center gap-4 bg-white rounded-lg shadow-sm border border-gray-300 max-w-xl">
    <h1 class="text-3xl font-bold w-full mb-3">Welcome to Sekoleksi</h1>

    {% csrf_token %}

    <input type="hidden" name="remember" value="true">

    {% include "components/text_input.html" with field=form.username placeholder="TheBlackSwordsman" %}
    {% include "components/text_input.html" with field=form.password1 type="password" placeholder="••••••••" %}
    {% include "components/text_input.html" with field=form.password2 type="password" placeholder="••••••••" %}

    <button type="submit" class="text-white bg-cyan-600 rounded-lg py-2 px-5 mt-5 w-full">
      Register
    </button>

    {% include "components/messages_list.html" with messages=messages %}
  </form>
</main>
{% endblock content %}
